* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}


body {
    height: 100vh;
    background: linear-gradient(to top, #09203f 0%, #537895 100%);

}

html {
    font-size: 16px;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 2vmin;
    width: 70vmin;
    height: 70vmin;
}

.button-option {
    background: #ffffff;
    height: 22vmin;
    width: 22vmin;
    border: none;
    border-radius: 8px;
}

#restart {
    font-size: 1.3em;
    margin-top: 1.5em;
    padding: 1em;
    position: relative;
    margin: 1em auto;
    border-radius: 8px;
    color: #ffffff;
    background-color: #537895;
    border: none;
}